#current-joke {
    font-size: 14px;
    text-align: justify;
    font-style: italic;
}

#latest-jokes { padding: 0 30px; }

h3 { font-size: 20px; }

.latest-paragraph {
    font-size: 12px;
    text-align: justify;
    font-style: italic;
}
